*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  padding-left: 100px;
  border-style: solid;
  border-width: thin;
  border-color: #cecece;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(170, 170, 170);
}

.nav2{
  width: 50px;
  padding-top: 100px;
  height:100vh;
  position: fixed;
  z-index: 11;
  border-style: solid;
  border-width: thin;
  border-color: #cecece;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: rgb(170, 170, 170);
}

#sketch{
  z-index: 5;
  position: fixed;

  margin-left: 50px;
  margin-top: 50px;
}

.trash{
  width: 30%;
  margin-left: 10px;
  margin-top: 30px;
  cursor: pointer;
}

svg{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.box2{
  width: 30px;
  margin-left: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #efefef;
}

.box{
  width: 30px;
  height: 30px;
  margin-right: 0;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 60%;
  border-style: solid;
  border-radius: 50%;
  border-width: thin;
  border-color: #000;
  &:nth-child(1){
    cursor: pointer;
  }&:nth-child(2){
    cursor: pointer;
    border-style: solid;
    border-radius: 50%;
    border-width: thin;
    border-color: #000;
    margin-top: 10px;
  }&:nth-child(3){
    cursor: pointer;
    border-style: solid;
    border-radius: 50%;
    border-width: thin;
    border-color: #000;
    margin-top: 10px;
  }&:nth-child(4){
    cursor: pointer;
    border-style: solid;
    border-radius: 50%;
    border-width: thin;
    border-color: #000;
    margin-top: 10px;
  }&:nth-child(5){
    cursor: pointer;
    border-style: solid;
    border-radius: 50%;
    border-width: thin;
    border-color: #000;
    margin-top: 10px;
  }
}

#archive-container{
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5vh;
  img{
    width: 100%;
    height: 90vh;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #000;
  }
}


#strokewidth{
  width: 30px;
  margin-left: 10px;
  height: 30px;
  border-style: solid;
  border-color: #000;
  border-width: thin;
  border-radius: 2px;
  color: #000;
  background-color: #fff;

}

#save{
  position: fixed;
  width: 50%;
  height: 55%;
  margin-top: 10%;
  margin-left: 25%;
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  font-size: 100;
  color: #484848;
  transition: .5s;
}

.save-message{
  font-weight: 100;
  font-size: 49px;
  margin-left: 45px;
  margin-right: 64px;
}

.save-open{
  z-index: 9;
  opacity: 1;
}

.save-close{
  z-index: 1;
  opacity: 0;
}

#close{
  margin-left: 90%;
  left: 90%;
  width: 20px;
}

#archive-button{
  width: 155px;
  height: 41px;
  color: #fff;
  background-color: #000;
  border-style: solid;
  border-color: #484848;
  font-weight: 100;
  font-size: 14px;
  margin-left: 45px;
  margin-top: 103px;
  border-width: thin;
  transition: .5s;
  cursor: pointer;
}

#archive-button:hover{
  background-color: #efefef;
  color: #484848;
}

#info{
  position: fixed;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-color: #efefef;
  border-style: solid;
  border-color: #cecece;
  border-width: thin;
  overflow: hidden;
  transition: .5s;
}

.info-close{
  z-index: 1;
  opacity: 0;
}

.info-open{
  z-index: 12;
  opacity: 1;
}



#close-info{
  margin-left: 90%;
  left: 90%;
  width: 50px;
}
 

.inputfile {
  width: 0.1px; 
  height: 0.1px; 
  opacity: 0; 
  overflow: hidden; 
  position: absolute; 
  z-index: -1;
}

.inputfile input{
  width: 0.1px; 
  height: 0.1px; 
  opacity: 0; 
  overflow: hidden; 
  position: absolute; 
  z-index: -1;
}
/*

.test11 {
  z-index: 2;
  position: absolute;
  left:680px; 
  top: 500px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.test11:hover {
  position: absolute; left:680px; top: 500px; z-index: 2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
.test11:active {
  position: absolute; left:680px; top: 501px; z-index: 2;
}

#animal
{
  position: absolute; 
  width: 150%; 
  height: 150%;
  z-index: 1;
  opacity: 1;
}

#headtext
{
position: absolute; top: 150px; left: 450px; z-index: 2;
font-weight:bold;font-style:italic;text-transform:uppercase;color:#000000;letter-spacing:10pt;
word-spacing:-10pt;font-size:130px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;
}
*/